/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-dgdev-icon-buttons {
	box-sizing: border-box;
	position: relative;
	margin-block: 1.5em;

	&.is-layout-flex {
		gap: 1em;
	}
}
